<div id="draw">
</div>
<div id="adjustments">
	<h1><%= @chart.student.name %></h1>
	<div><%= @chart.channels.join('/') %></div>
	<div><%= @chart.subtopic.name %></div>
    <ul>
        <% @chart.day_records.each do |day_record| %>
        <li>day: <%= day_record.date %>
            <ul>
                <% day_record.day_metrics.each do |day_metric| %>
                <li>metric name: <%= day_metric.metric.name %></li>
                <li>metric value: <%= day_metric.metric_value %></li>
                <li>metric symbol: <%= day_metric.metric.symbol %></li>
                <% end %>
            </ul>
        </li>
        <% end %>
    </ul>

	<ul>
    	<li>Corrects</li>
    	<li><img class="subtract" id="sub-correct" width="40" height="40" src="assets/buttons/subtract.png" />
    		<p id="corrects" class="input"></p>
    		<img class="add" id="add-correct" width="40" height="40" src="assets/buttons/add.png" /></li>
    	<li>Errors</li>
        <li><img class="subtract" id="sub-error" width="40" height="40" src="assets/buttons/subtract.png" />
    		<p id="errors" class="input"></p>
    		<img class="add" id="add-error" width="40" height="40" src="assets/buttons/add.png" /></li>
    	<li>Floor</li>
    	<li><img class="subtract" id="sub-floor" width="40" height="40" src="assets/buttons/subtract.png" />
    		<p id="floors" class="input"></p>
    		<img class="add" id="add-floor" width="40" height="40" src="assets/buttons/add.png" /></li>
    	<li>Trials</li>
    	<li><img class="subtract" id="sub-trial" width="40" height="40" src="assets/buttons/subtract.png" />
    		<p id="trials" class="input"></p>
    		<img class="add" id="add-trial" width="40" height="40" src="assets/buttons/add.png" /></li>
	</ul>
</div>