<!DOCTYPE html>
<html>
<head>
  <title>PLEA app</title>
    <%= csrf_meta_tags %>

	<link rel="stylesheet" type="text/css" href="assets/normalize.css">
	<link rel="stylesheet" type="text/css" href="assets/app.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="assets/hammer.min.js"></script>

	<!--Stops double tap from zooming and lets multitouch gestures work -->
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<%= render :partial => "partials/top_nav" %>
	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
